.main {
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    background-color: darkgreen;
    border: none;
    color: white;
    border-radius: 8px;
    &:hover {
        transition: 0.3s;
        background-color: #006400c2;
    }
}
