.container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.main {
    height: 100%;
    padding: 2rem 2rem;
    min-width: 85%;
}

.aside {
    min-width: 15%;
    background-color: #e9e9e9;
    height: 100%;
    padding: 20px;
}
