.container {
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.content {
    padding: 20px 5px;
}
.shadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000005e;
    z-index: 0;
}

.main {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #b1b1b1;
    background-color: white;
    color: black;
    width: 800px;
    height: 500px;
    z-index: 10;
    padding: 20px;
}
